nodered Flows/flows.json
[{"id":"9ebe51c6.23088","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b01bfe5a.28c38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"22101fc.bb266e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7c41a0b.c42068","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1f949175.c41c1f","type":"ui_spacer","name":"spacer","group":"","order":2,"width":3,"height":1},{"id":"a167b65.8341e48","type":"ui_spacer","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"8c91ef32.998dd","type":"ui_spacer","name":"spacer","group":"","order":5,"width":3,"height":1},{"id":"c898449c.768f08","type":"ui_spacer","name":"spacer","group":"","order":6,"width":3,"height":1},{"id":"fb387b7e.68ad48","type":"ui_spacer","name":"spacer","group":"","order":8,"width":3,"height":1},{"id":"b45c4b10.447db8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":3,"height":1},{"id":"2ad3bacc.448686","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":1,"width":1,"height":1},{"id":"5a0aeb89.b09f14","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":3,"width":2,"height":1},{"id":"4c95c279.4cc0bc","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":5,"width":3,"height":1},{"id":"e3600fec.1afa7","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":6,"width":1,"height":1},{"id":"54be09f7.426938","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":7,"width":2,"height":1},{"id":"469cdbe3.3e6f24","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":8,"width":3,"height":1},{"id":"6c7010fd.3927c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":9,"width":1,"height":1},{"id":"80338d56.3e72b","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":10,"width":2,"height":1},{"id":"9661e8f4.ada4c8","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":11,"width":3,"height":1},{"id":"5828e89d.9ce378","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":12,"width":1,"height":1},{"id":"1d12a9a7.9a8b46","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":13,"width":2,"height":1},{"id":"6f385654.953388","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":14,"width":3,"height":1},{"id":"6ef0083a.46ad78","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":15,"width":30,"height":1},{"id":"17d9802d.0be3f","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":18,"width":1,"height":1},{"id":"9323f5d4.815ea8","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":20,"width":26,"height":1},{"id":"c29cfe8d.0af55","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":21,"width":1,"height":1},{"id":"bf7f8b8d.722678","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":22,"width":15,"height":1},{"id":"125233da.79bbcc","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":24,"width":1,"height":1},{"id":"29c18d0a.af0602","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":26,"width":4,"height":1},{"id":"79a07284.ee02ac","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":28,"width":1,"height":1},{"id":"e266c364.2bc2c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":30,"width":6,"height":1},{"id":"69d5efe4.bc51c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":31,"width":1,"height":1},{"id":"2572035e.5d622c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":32,"width":4,"height":1},{"id":"8bb08b8e.a2d248","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":33,"width":1,"height":1},{"id":"626c0199.fb501","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":34,"width":6,"height":1},{"id":"4b99d4.2e82c62c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":35,"width":1,"height":1},{"id":"f88d3535.5cab98","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":36,"width":2,"height":1},{"id":"3f3be390.bb2a7c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":38,"width":5,"height":1},{"id":"2323fdca.076d42","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":41,"width":5,"height":1},{"id":"6a6a04ed.79bf4c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":42,"width":1,"height":1},{"id":"b9f6a7e1.c4fe48","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":43,"width":2,"height":1},{"id":"1124ba6.1bf0446","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":44,"width":5,"height":1},{"id":"4f488ff0.09372","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":45,"width":16,"height":1},{"id":"dedc9121.2e081","type":"ui_group","z":"","name":"Home","tab":"a7c41a0b.c42068","order":1,"disp":true,"width":"30","collapse":false},{"id":"a1605748.5eb848","type":"mqtt-broker","z":"","name":"Server-MQTT","broker":"192.168.0.106","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"349f39c8.b9b346","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"15","collapse":false},{"id":"f259b542.5fab68","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"dd15c437.c94208","type":"ui_group","z":"","name":"TimeLaps","tab":"","order":3,"disp":true,"width":"2","collapse":false},{"id":"5af12628.28bd28","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"15","collapse":false},{"id":"3aeeb460.f14b1c","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"3cae2eba.266bc2","type":"ui_group","z":"","name":"TimeLaps","tab":"","order":3,"disp":true,"width":"2","collapse":false},{"id":"276fe20e.33fd3e","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":8,"width":1,"height":1},{"id":"a72e6f6d.b5853","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":10,"width":7,"height":1},{"id":"44f9b58a.2bf80c","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":12,"width":1,"height":1},{"id":"afe7bf22.7f1fc","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":14,"width":1,"height":1},{"id":"1b78427d.7f2f7e","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":15,"width":1,"height":1},{"id":"fc4cba91.a9ee48","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":16,"width":7,"height":1},{"id":"d6030062.99135","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":17,"width":1,"height":1},{"id":"b9686126.96352","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":18,"width":1,"height":1},{"id":"1e32a8e3.95c9c7","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":19,"width":30,"height":1},{"id":"a4892408.02f3a8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":21,"width":17,"height":1},{"id":"2392d133.2e6e6e","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":22,"width":17,"height":1},{"id":"b002be6e.820ef","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":23,"width":4,"height":1},{"id":"198cd715.205679","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":25,"width":3,"height":1},{"id":"d2ecb0f6.f22de","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":27,"width":1,"height":1},{"id":"4f0f7109.8fd76","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":28,"width":4,"height":1},{"id":"9101d81a.33ac28","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":29,"width":3,"height":1},{"id":"340b55d4.d71c6a","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":30,"width":1,"height":1},{"id":"9f306074.d64e","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":31,"width":2,"height":1},{"id":"8ac64644.6f8668","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":35,"width":1,"height":1},{"id":"77d086c4.d583c8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":37,"width":1,"height":1},{"id":"8394a6fd.809d28","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":38,"width":2,"height":1},{"id":"954072c2.73118","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":39,"width":1,"height":1},{"id":"8e5dbd31.8466c","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":40,"width":1,"height":1},{"id":"76f428dc.5ce0d8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":41,"width":2,"height":1},{"id":"b786cc9e.a6c3a","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":43,"width":1,"height":1},{"id":"99fc26b1.834898","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":45,"width":1,"height":1},{"id":"f9eb33af.29b2","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":46,"width":2,"height":1},{"id":"c8776550.f80988","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":47,"width":1,"height":1},{"id":"6e7facc0.5945c4","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":48,"width":1,"height":1},{"id":"6ca0f195.e435d","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":49,"width":2,"height":1},{"id":"1a6f5c32.459174","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":51,"width":1,"height":1},{"id":"fe1fe711.a2c3b8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":53,"width":1,"height":1},{"id":"3f52cdb7.04b652","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":54,"width":2,"height":1},{"id":"6d1be559.4042bc","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":55,"width":1,"height":1},{"id":"291362f7.8bb2de","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":56,"width":1,"height":1},{"id":"5b0c3420.5fb1cc","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/pinStatus","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":150,"y":480,"wires":[["e2bb01a1.5a915"]]},{"id":"c311b1f0.906f3","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Humidity","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":140,"y":80,"wires":[["126ba133.26395f"]]},{"id":"ef9d14ef.121d58","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Temp","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":120,"wires":[["afaa668b.6d9838"]]},{"id":"28ed1409.9a61bc","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Date","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":160,"wires":[["23758299.c2285e"]]},{"id":"be68eef2.72b25","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Time","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":200,"wires":[["dcca9c35.ce1c"]]},{"id":"22812368.e6a4cc","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/SM1","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":240,"wires":[["512125e.a93bddc"]]},{"id":"3e550146.3ab03e","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/SM2","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":280,"wires":[["98839e1a.37c9c"]]},{"id":"1cde0e00.f76682","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Light","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":320,"wires":[["e372d7b6.f7b768"]]},{"id":"4e3b7eda.12863","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/csvData","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":140,"y":560,"wires":[["6dcec7e4.4d3e38","a4361aee.f08bf8","ff62490e.052fc8"]]},{"id":"22a1dae1.6664d6","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":120,"y":440,"wires":[["4aeae403.00324c"]]},{"id":"6dcec7e4.4d3e38","type":"file","z":"9ebe51c6.23088","name":"","filename":"/home/pi/Desktop/logas.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":400,"y":640,"wires":[[]]},{"id":"a4361aee.f08bf8","type":"csv","z":"9ebe51c6.23088","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"ID,Date,Time,Temp,Humidity,SM1,SM2,Light","skip":"0","strings":true,"x":330,"y":600,"wires":[[]]},{"id":"a557f415.6d1158","type":"debug","z":"9ebe51c6.23088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":890,"y":560,"wires":[]},{"id":"ac0c2ea.95101d","type":"http request","z":"9ebe51c6.23088","name":"API Call","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.1.2:4444/calc","tls":"","persist":false,"proxy":"","authType":"","x":540,"y":560,"wires":[["b2f070bf.ffd82","8788c150.d54f"]]},{"id":"ff62490e.052fc8","type":"csv to json ext","z":"9ebe51c6.23088","name":"","version":"0.1","source":"payload","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":true,"trim":true,"noheader":true,"includeColumns":"","headers":"","debug":false,"x":350,"y":560,"wires":[["ac0c2ea.95101d"]]},{"id":"126ba133.26395f","type":"ui_gauge","z":"9ebe51c6.23088","name":"Humidity","group":"dedc9121.2e081","order":1,"width":6,"height":5,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":360,"y":80,"wires":[]},{"id":"afaa668b.6d9838","type":"ui_gauge","z":"9ebe51c6.23088","name":"Temp","group":"dedc9121.2e081","order":2,"width":6,"height":5,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":120,"wires":[]},{"id":"23758299.c2285e","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":13,"width":4,"height":2,"name":"Date","label":"Date","format":"{{msg.payload}}","layout":"row-left","x":350,"y":160,"wires":[]},{"id":"dcca9c35.ce1c","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":11,"width":4,"height":2,"name":"Time","label":"Time","format":"{{msg.payload}}","layout":"row-left","x":350,"y":200,"wires":[]},{"id":"512125e.a93bddc","type":"ui_gauge","z":"9ebe51c6.23088","name":"SM1","group":"dedc9121.2e081","order":3,"width":6,"height":5,"gtype":"gage","title":"SM1","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":240,"wires":[]},{"id":"98839e1a.37c9c","type":"ui_gauge","z":"9ebe51c6.23088","name":"SM2","group":"dedc9121.2e081","order":4,"width":6,"height":5,"gtype":"gage","title":"SM2","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":280,"wires":[]},{"id":"e372d7b6.f7b768","type":"ui_gauge","z":"9ebe51c6.23088","name":"Light","group":"dedc9121.2e081","order":5,"width":6,"height":5,"gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":350,"y":320,"wires":[]},{"id":"4aeae403.00324c","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":9,"width":4,"height":2,"name":"outTopic","label":"outTopic","format":"{{msg.payload}}","layout":"row-left","x":360,"y":440,"wires":[]},{"id":"e2bb01a1.5a915","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":6,"width":4,"height":2,"name":"PinSts","label":"PinSts","format":"{{msg.payload}}","layout":"row-left","x":350,"y":480,"wires":[]},{"id":"95ff02fb.95d11","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":7,"width":4,"height":2,"name":"Pump Sts","label":"Pump Sts","format":"{{msg.payload}}","layout":"row-left","x":880,"y":640,"wires":[]},{"id":"b2f070bf.ffd82","type":"function","z":"9ebe51c6.23088","name":"","func":"let x = msg.payload\n\nif (x === 1) {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":640,"wires":[["95ff02fb.95d11"]]},{"id":"bb0f9a43.686808","type":"mqtt out","z":"9ebe51c6.23088","name":"","topic":"inTopic","qos":"","retain":"","broker":"a1605748.5eb848","x":880,"y":600,"wires":[]},{"id":"8788c150.d54f","type":"function","z":"9ebe51c6.23088","name":"","func":"let x = msg.payload\n\nif (x === 1) {\n    msg.payload = 0\n} else {\n    msg.payload = 1\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":560,"wires":[["a557f415.6d1158","bb0f9a43.686808"]]},{"id":"b6794cd5.84d3b","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["439ab97d.788818"]]},{"id":"439ab97d.788818","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"inTopic","qos":"","retain":"","broker":"a1605748.5eb848","x":330,"y":160,"wires":[]},{"id":"7e16e8.ac0c3918","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["439ab97d.788818"]]},{"id":"4e689079.b5447","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["439ab97d.788818"]]},{"id":"928081b9.99bff","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["439ab97d.788818"]]},{"id":"d07053a3.738fc","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["439ab97d.788818"]]},{"id":"d553c78d.5561d8","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":24,"width":2,"height":2,"passthru":false,"label":"UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":650,"y":60,"wires":[["f9e5011.96f1b"]]},{"id":"8fb704bf.4267f8","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":33,"width":2,"height":2,"passthru":false,"label":"DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":650,"y":100,"wires":[["f9e5011.96f1b"]]},{"id":"85634f99.7375f","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":34,"width":2,"height":2,"passthru":false,"label":"RIGHT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":780,"y":100,"wires":[["f9e5011.96f1b"]]},{"id":"64d69c4e.d70bb4","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":32,"width":2,"height":2,"passthru":false,"label":"LEFT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":520,"y":100,"wires":[["f9e5011.96f1b"]]},{"id":"ce39685f.4b5d28","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":42,"width":6,"height":2,"passthru":false,"label":"BRAKE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":650,"y":140,"wires":[["f9e5011.96f1b"]]},{"id":"f9e5011.96f1b","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"inTopic","qos":"","retain":"","broker":"a1605748.5eb848","x":920,"y":40,"wires":[]},{"id":"f5383c22.0de9d","type":"ui_template","z":"b01bfe5a.28c38","group":"dedc9121.2e081","name":"WEBCAM","order":20,"width":13,"height":10,"format":"<div style=\"margin-bottom: 10px;\">\n<!--<img src=\"http://192.168.1.61/capture\" width=\"650px\"> -->\n<img src=\"http://192.168.0.111\" width=\"640px\" height=\"480px\">\n</div>\nSTREAMING","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":280,"wires":[[]],"icon":"font-awesome/fa-video-camera"},{"id":"eac32282.fed72","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"servoDown","qos":"2","retain":"","broker":"a1605748.5eb848","x":970,"y":380,"wires":[]},{"id":"86195077.adf33","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"servoUp","qos":"2","retain":"","broker":"a1605748.5eb848","x":960,"y":440,"wires":[]},{"id":"37d11bc2.6d7e74","type":"ui_slider","z":"b01bfe5a.28c38","name":"","label":"servoDistance","tooltip":"","group":"dedc9121.2e081","order":26,"width":7,"height":2,"passthru":true,"outs":"end","topic":"","min":"0","max":"180","step":1,"x":800,"y":500,"wires":[["67d88850.4e1448"]]},{"id":"67d88850.4e1448","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"servoDistance","qos":"","retain":"","broker":"a1605748.5eb848","x":980,"y":500,"wires":[]},{"id":"3d3598c5.f99f68","type":"ui_slider","z":"b01bfe5a.28c38","name":"","label":"servoUp","tooltip":"","group":"dedc9121.2e081","order":44,"width":7,"height":2,"passthru":true,"outs":"end","topic":"","min":"10","max":"180","step":1,"x":780,"y":440,"wires":[["86195077.adf33"]]},{"id":"ded5981b.ccd948","type":"ui_slider","z":"b01bfe5a.28c38","name":"","label":"servoDown","tooltip":"","group":"dedc9121.2e081","order":36,"width":7,"height":2,"passthru":true,"outs":"end","topic":"","min":"0","max":"180","step":1,"x":790,"y":380,"wires":[["eac32282.fed72"]]},{"id":"7a99d66e.3718b8","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":100,"y":340,"wires":[["48c91426.41f66c","485456e.31d1fa8"]]},{"id":"48c91426.41f66c","type":"debug","z":"b01bfe5a.28c38","name":"outTopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":260,"y":340,"wires":[]},{"id":"82eb5a95.84c9d8","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":460,"wires":[["1ffc23c0.25a52c"]]},{"id":"1ffc23c0.25a52c","type":"debug","z":"b01bfe5a.28c38","name":"outTopic/Distance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":350,"y":460,"wires":[]},{"id":"83eb743c.9ca738","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["439ab97d.788818"]]},{"id":"f8cb849.2e45078","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["439ab97d.788818"]]},{"id":"897e2cb8.0ece7","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":550,"y":200,"wires":[["dcca9c35.ce1c"]]},{"id":"2df3dc67.92c094","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":52,"width":7,"height":2,"passthru":false,"label":"Distance Toggle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"num","topic":"","x":820,"y":200,"wires":[["f9e5011.96f1b"]]},{"id":"83b82a0a.da9118","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":50,"width":6,"height":2,"passthru":false,"label":"Auto Movement","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"str","topic":"","x":820,"y":240,"wires":[["f9e5011.96f1b"]]},{"id":"485456e.31d1fa8","type":"function","z":"b01bfe5a.28c38","name":"","func":"let status = msg.payload\n\nif (status === '1') {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":400,"wires":[[]]}]