nodered Flows/flows.json
[{"id":"9ebe51c6.23088","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"b01bfe5a.28c38","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"22101fc.bb266e","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a7c41a0b.c42068","type":"ui_tab","z":"","name":"Home","icon":"dashboard","disabled":false,"hidden":false},{"id":"1f949175.c41c1f","type":"ui_spacer","name":"spacer","group":"","order":2,"width":3,"height":1},{"id":"a167b65.8341e48","type":"ui_spacer","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"8c91ef32.998dd","type":"ui_spacer","name":"spacer","group":"","order":5,"width":3,"height":1},{"id":"c898449c.768f08","type":"ui_spacer","name":"spacer","group":"","order":6,"width":3,"height":1},{"id":"fb387b7e.68ad48","type":"ui_spacer","name":"spacer","group":"","order":8,"width":3,"height":1},{"id":"b45c4b10.447db8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":3,"height":1},{"id":"2ad3bacc.448686","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":1,"width":1,"height":1},{"id":"5a0aeb89.b09f14","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":3,"width":2,"height":1},{"id":"4c95c279.4cc0bc","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":5,"width":3,"height":1},{"id":"e3600fec.1afa7","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":6,"width":1,"height":1},{"id":"54be09f7.426938","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":7,"width":2,"height":1},{"id":"469cdbe3.3e6f24","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":8,"width":3,"height":1},{"id":"6c7010fd.3927c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":9,"width":1,"height":1},{"id":"80338d56.3e72b","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":10,"width":2,"height":1},{"id":"9661e8f4.ada4c8","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":11,"width":3,"height":1},{"id":"5828e89d.9ce378","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":12,"width":1,"height":1},{"id":"1d12a9a7.9a8b46","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":13,"width":2,"height":1},{"id":"6f385654.953388","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":14,"width":3,"height":1},{"id":"6ef0083a.46ad78","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":15,"width":30,"height":1},{"id":"17d9802d.0be3f","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":18,"width":1,"height":1},{"id":"9323f5d4.815ea8","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":20,"width":26,"height":1},{"id":"c29cfe8d.0af55","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":21,"width":1,"height":1},{"id":"bf7f8b8d.722678","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":22,"width":15,"height":1},{"id":"125233da.79bbcc","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":24,"width":1,"height":1},{"id":"29c18d0a.af0602","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":26,"width":4,"height":1},{"id":"79a07284.ee02ac","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":28,"width":1,"height":1},{"id":"e266c364.2bc2c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":30,"width":6,"height":1},{"id":"69d5efe4.bc51c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":31,"width":1,"height":1},{"id":"2572035e.5d622c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":32,"width":4,"height":1},{"id":"8bb08b8e.a2d248","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":33,"width":1,"height":1},{"id":"626c0199.fb501","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":34,"width":6,"height":1},{"id":"4b99d4.2e82c62c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":35,"width":1,"height":1},{"id":"f88d3535.5cab98","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":36,"width":2,"height":1},{"id":"3f3be390.bb2a7c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":38,"width":5,"height":1},{"id":"2323fdca.076d42","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":41,"width":5,"height":1},{"id":"6a6a04ed.79bf4c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":42,"width":1,"height":1},{"id":"b9f6a7e1.c4fe48","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":43,"width":2,"height":1},{"id":"1124ba6.1bf0446","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":44,"width":5,"height":1},{"id":"4f488ff0.09372","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":45,"width":16,"height":1},{"id":"dedc9121.2e081","type":"ui_group","z":"","name":"Home","tab":"a7c41a0b.c42068","order":1,"disp":true,"width":"30","collapse":false},{"id":"a1605748.5eb848","type":"mqtt-broker","z":"","name":"Server-MQTT","broker":"192.168.0.107","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"349f39c8.b9b346","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"15","collapse":false},{"id":"f259b542.5fab68","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"dd15c437.c94208","type":"ui_group","z":"","name":"TimeLaps","tab":"","order":3,"disp":true,"width":"2","collapse":false},{"id":"5af12628.28bd28","type":"ui_group","z":"","name":"Group 1","tab":"","order":1,"disp":false,"width":"15","collapse":false},{"id":"3aeeb460.f14b1c","type":"ui_group","name":"Group 2","tab":"","order":2,"disp":true,"width":6},{"id":"3cae2eba.266bc2","type":"ui_group","z":"","name":"TimeLaps","tab":"","order":3,"disp":true,"width":"2","collapse":false},{"id":"49b246ee.165538","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":2,"width":1,"height":1},{"id":"453d3d31.3822f4","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":4,"width":8,"height":1},{"id":"8bbccb0e.dbb038","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":6,"width":2,"height":1},{"id":"18fd59ad.e09486","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":8,"width":2,"height":1},{"id":"388a8f58.5e1e1","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":11,"width":1,"height":1},{"id":"3609382d.c7f488","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":13,"width":1,"height":1},{"id":"29303050.3dd0c","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":17,"width":1,"height":1},{"id":"6c60234.f7457dc","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":20,"width":1,"height":1},{"id":"ea12fb89.0323e8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":22,"width":1,"height":1},{"id":"dee0e26d.5361f","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":24,"width":13,"height":1},{"id":"a7784f27.6d20c","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":25,"width":17,"height":1},{"id":"5a5a1e48.2ac5b","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":26,"width":1,"height":1},{"id":"baefd68f.e102f8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":28,"width":11,"height":1},{"id":"19075bf4.4cbf34","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":29,"width":1,"height":1},{"id":"92490e63.b15cc","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":31,"width":8,"height":1},{"id":"c2664492.8e42b8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":32,"width":1,"height":1},{"id":"835619a7.6fa0c8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":35,"width":5,"height":1},{"id":"6ccaf25c.8854ac","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":36,"width":1,"height":1},{"id":"82ccfcdb.1df4e","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":37,"width":11,"height":1},{"id":"3b34a1ab.2a7b6e","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":38,"width":17,"height":1},{"id":"5279a378.8744cc","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":8,"width":1,"height":1},{"id":"79bef6e8.bba4c8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":10,"width":7,"height":1},{"id":"5e5f68eb.d1f1a8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":12,"width":1,"height":1},{"id":"67644081.a4368","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":14,"width":1,"height":1},{"id":"7f24228c.bf089c","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":15,"width":1,"height":1},{"id":"f31e3dd6.c9898","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":16,"width":7,"height":1},{"id":"42ca859e.9eef3c","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":17,"width":1,"height":1},{"id":"2465368.23214ca","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":18,"width":1,"height":1},{"id":"35327cec.47e224","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":19,"width":30,"height":1},{"id":"456e4ce4.ef8364","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":21,"width":17,"height":1},{"id":"e0ed3f21.8180e","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":22,"width":17,"height":1},{"id":"b165462a.1b68d8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":23,"width":4,"height":1},{"id":"dab9d116.88481","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":25,"width":3,"height":1},{"id":"12cd06f3.107b19","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":27,"width":1,"height":1},{"id":"6eb8814e.29aca","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":28,"width":4,"height":1},{"id":"3fd01888.0b7218","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":29,"width":3,"height":1},{"id":"8908fdb1.37908","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":30,"width":1,"height":1},{"id":"8fda1272.757e","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":31,"width":2,"height":1},{"id":"8666c1e.609ab4","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":35,"width":1,"height":1},{"id":"bde3b075.0137d","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":37,"width":1,"height":1},{"id":"d4321cc3.9b026","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":38,"width":2,"height":1},{"id":"1297d6f7.7a0559","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":39,"width":1,"height":1},{"id":"796df83.5f56e08","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":40,"width":1,"height":1},{"id":"9893dd1b.8d29f","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":41,"width":2,"height":1},{"id":"6fdf51e2.445a6","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":43,"width":1,"height":1},{"id":"b0084e8e.d96b4","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":45,"width":1,"height":1},{"id":"f96d364d.7b2088","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":46,"width":2,"height":1},{"id":"7d175669.66fce8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":47,"width":1,"height":1},{"id":"789005fa.5bbfec","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":48,"width":1,"height":1},{"id":"8725af05.bed6e","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":49,"width":2,"height":1},{"id":"a18778bc.c3d3f8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":51,"width":1,"height":1},{"id":"3001082e.1798c8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":53,"width":1,"height":1},{"id":"50c12f83.3d6e8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":54,"width":2,"height":1},{"id":"93b9dfe7.5fd69","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":55,"width":1,"height":1},{"id":"a8c44ad7.d0f208","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":56,"width":1,"height":1},{"id":"b6794cd5.84d3b","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"1","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":40,"wires":[["439ab97d.788818"]]},{"id":"439ab97d.788818","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"inTopic","qos":"","retain":"","broker":"a1605748.5eb848","x":330,"y":160,"wires":[]},{"id":"7e16e8.ac0c3918","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"2","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":80,"wires":[["439ab97d.788818"]]},{"id":"4e689079.b5447","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"3","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":120,"wires":[["439ab97d.788818"]]},{"id":"928081b9.99bff","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"4","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":160,"wires":[["439ab97d.788818"]]},{"id":"d07053a3.738fc","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"5","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":200,"wires":[["439ab97d.788818"]]},{"id":"d553c78d.5561d8","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":7,"width":1,"height":1,"passthru":false,"label":"UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":650,"y":60,"wires":[["f9e5011.96f1b"]]},{"id":"8fb704bf.4267f8","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":15,"width":1,"height":1,"passthru":false,"label":"DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":650,"y":100,"wires":[["f9e5011.96f1b"]]},{"id":"85634f99.7375f","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":16,"width":1,"height":1,"passthru":false,"label":"RIGHT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":780,"y":100,"wires":[["f9e5011.96f1b"]]},{"id":"64d69c4e.d70bb4","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":14,"width":1,"height":1,"passthru":false,"label":"LEFT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","x":520,"y":100,"wires":[["f9e5011.96f1b"]]},{"id":"ce39685f.4b5d28","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":23,"width":3,"height":1,"passthru":false,"label":"BRAKE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":650,"y":140,"wires":[["f9e5011.96f1b"]]},{"id":"f9e5011.96f1b","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"inTopic","qos":"","retain":"","broker":"a1605748.5eb848","x":920,"y":40,"wires":[]},{"id":"f5383c22.0de9d","type":"ui_template","z":"b01bfe5a.28c38","group":"dedc9121.2e081","name":"WEBCAM","order":1,"width":13,"height":10,"format":"<div style=\"margin-bottom: 10px;\">\n<!--<img src=\"http://192.168.1.61/capture\" width=\"650px\"> -->\n<img src=\"http://192.168.0.111\" width=\"640px\" height=\"480px\">\n</div>\nSTREAMING","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":660,"y":280,"wires":[[]],"icon":"font-awesome/fa-video-camera"},{"id":"eac32282.fed72","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"servoDown","qos":"2","retain":"","broker":"a1605748.5eb848","x":970,"y":380,"wires":[]},{"id":"86195077.adf33","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"servoUp","qos":"2","retain":"","broker":"a1605748.5eb848","x":960,"y":440,"wires":[]},{"id":"37d11bc2.6d7e74","type":"ui_slider","z":"b01bfe5a.28c38","name":"","label":"servoDistance","tooltip":"","group":"dedc9121.2e081","order":5,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"180","step":1,"x":800,"y":500,"wires":[["67d88850.4e1448"]]},{"id":"67d88850.4e1448","type":"mqtt out","z":"b01bfe5a.28c38","name":"","topic":"servoDistance","qos":"","retain":"","broker":"a1605748.5eb848","x":980,"y":500,"wires":[]},{"id":"3d3598c5.f99f68","type":"ui_slider","z":"b01bfe5a.28c38","name":"","label":"servoUp","tooltip":"","group":"dedc9121.2e081","order":21,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","min":"10","max":"180","step":1,"x":780,"y":440,"wires":[["86195077.adf33"]]},{"id":"ded5981b.ccd948","type":"ui_slider","z":"b01bfe5a.28c38","name":"","label":"servoDown","tooltip":"","group":"dedc9121.2e081","order":12,"width":5,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"180","step":1,"x":790,"y":380,"wires":[["eac32282.fed72"]]},{"id":"7a99d66e.3718b8","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":100,"y":340,"wires":[["48c91426.41f66c"]]},{"id":"48c91426.41f66c","type":"debug","z":"b01bfe5a.28c38","name":"outTopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":340,"wires":[]},{"id":"82eb5a95.84c9d8","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":120,"y":400,"wires":[["1ffc23c0.25a52c","99b09a64.be4628"]]},{"id":"1ffc23c0.25a52c","type":"debug","z":"b01bfe5a.28c38","name":"outTopic/Distance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":400,"wires":[]},{"id":"83eb743c.9ca738","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"6","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":240,"wires":[["439ab97d.788818"]]},{"id":"f8cb849.2e45078","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"7","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":280,"wires":[["439ab97d.788818"]]},{"id":"2df3dc67.92c094","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":9,"width":3,"height":1,"passthru":false,"label":"Distance Toggle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"num","topic":"","x":820,"y":200,"wires":[["f9e5011.96f1b"]]},{"id":"83b82a0a.da9118","type":"ui_button","z":"b01bfe5a.28c38","name":"","group":"dedc9121.2e081","order":18,"width":3,"height":1,"passthru":false,"label":"Auto Movement","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"str","topic":"","x":820,"y":240,"wires":[["f9e5011.96f1b"]]},{"id":"84e67271.affd2","type":"ui_text","z":"b01bfe5a.28c38","group":"dedc9121.2e081","order":3,"width":3,"height":1,"name":"isAlive","label":"Status","format":"{{msg.payload}}","layout":"row-left","x":610,"y":580,"wires":[]},{"id":"a5027d46.7e37","type":"function","z":"b01bfe5a.28c38","name":"Check Alive","func":"let status = msg.payload\n\nif (status === '1') {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["b37ffde2.dd4a5"]]},{"id":"b37ffde2.dd4a5","type":"ui_text","z":"b01bfe5a.28c38","group":"dedc9121.2e081","order":10,"width":3,"height":1,"name":"getDistance","label":"Status:","format":"{{msg.payload}}","layout":"row-left","x":630,"y":640,"wires":[]},{"id":"cacf0e6f.b46bb","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic/Status/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":150,"y":640,"wires":[["a5027d46.7e37"]]},{"id":"7f8c4d08.de5bd4","type":"function","z":"b01bfe5a.28c38","name":"Check Alive","func":"let status = msg.payload\n\nif (status === '1') {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":700,"wires":[["20d0d684.d13fca"]]},{"id":"20d0d684.d13fca","type":"ui_text","z":"b01bfe5a.28c38","group":"dedc9121.2e081","order":19,"width":3,"height":1,"name":"isAuto","label":"Status:","format":"{{msg.payload}}","layout":"row-left","x":610,"y":700,"wires":[]},{"id":"b8cf59cf.6f0c68","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic/Status/AutoMovement","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":170,"y":700,"wires":[["7f8c4d08.de5bd4"]]},{"id":"41675ccc.d645e4","type":"function","z":"b01bfe5a.28c38","name":"Check Alive","func":"let status = msg.payload\n\nif (status === '1') {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["84e67271.affd2"]]},{"id":"ebdc79be.558188","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic/Status/Alive","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":580,"wires":[["41675ccc.d645e4"]]},{"id":"99b09a64.be4628","type":"ui_gauge","z":"b01bfe5a.28c38","name":"Distance To Object","group":"dedc9121.2e081","order":27,"width":5,"height":4,"gtype":"gage","title":"Distance To Object","label":"CM","format":"{{value}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":460,"wires":[]},{"id":"cfcadcae.7cab5","type":"ui_text","z":"b01bfe5a.28c38","group":"dedc9121.2e081","order":30,"width":3,"height":1,"name":"Collision Bool","label":"Object Detected:","format":"{{msg.payload}}","layout":"row-right","x":640,"y":760,"wires":[]},{"id":"78d00555.45409c","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic/Collision/Status","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":150,"y":760,"wires":[["70ae4f41.ba205"]]},{"id":"70ae4f41.ba205","type":"function","z":"b01bfe5a.28c38","name":"Check Alive","func":"let status = msg.payload\n\nif (status === '1') {\n    msg.payload = 'YES'\n} else {\n    msg.payload = 'NO'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":760,"wires":[["cfcadcae.7cab5"]]},{"id":"515697f5.f3c8f8","type":"ui_text","z":"b01bfe5a.28c38","group":"dedc9121.2e081","order":33,"width":3,"height":1,"name":"Collision Distance","label":"At Distance:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":820,"wires":[]},{"id":"d105077b.db29b8","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic/Collision/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":150,"y":820,"wires":[["515697f5.f3c8f8"]]},{"id":"e899375b.6ee4a8","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"90","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":610,"y":400,"wires":[["eac32282.fed72","86195077.adf33","67d88850.4e1448"]]},{"id":"5cac08a3.62c9c8","type":"inject","z":"b01bfe5a.28c38","name":"","topic":"","payload":"804","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":310,"y":240,"wires":[["439ab97d.788818"]]},{"id":"28a5afde.f4e77","type":"ui_text","z":"b01bfe5a.28c38","group":"dedc9121.2e081","order":34,"width":3,"height":1,"name":"xBound","label":"X Bound:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":880,"wires":[]},{"id":"4f2ee63f.b22918","type":"mqtt in","z":"b01bfe5a.28c38","name":"","topic":"outTopic/Bounds/X","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":880,"wires":[["28a5afde.f4e77","8b9f65e7.5ca8b8"]]},{"id":"8b9f65e7.5ca8b8","type":"file","z":"b01bfe5a.28c38","name":"","filename":"/home/pi/Desktop/collisions.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":430,"y":940,"wires":[[]]},{"id":"f9676c50.0510d","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/pinStatus","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":206,"y":420,"wires":[["2cfeab65.4fc4b4"]]},{"id":"787d8764.e68618","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Humidity","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":196,"y":20,"wires":[["17b8daae.a93c85"]]},{"id":"cd708899.06d5b8","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Temp","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":186,"y":60,"wires":[["a4f3d1d.f1b3a3"]]},{"id":"ccf174f4.2b51f8","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Date","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":186,"y":100,"wires":[["8229e740.39f2f8"]]},{"id":"5256f6a8.5bbd78","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Time","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":186,"y":140,"wires":[["7006e1f1.50f8a"]]},{"id":"db013c8b.72e1f","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/SM1","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":186,"y":180,"wires":[["4cc4237e.89f54c"]]},{"id":"f6197efe.a7c71","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/SM2","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":186,"y":220,"wires":[["2135c43c.ccfbbc"]]},{"id":"c4c08bd3.ecfd98","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Light","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":186,"y":260,"wires":[["187c40ec.02a66f"]]},{"id":"6850e69.b33f218","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/csvData","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":196,"y":500,"wires":[["19cc6df6.fccca2","d8fa684b.0f4ff8","9389a4dd.b36e28"]]},{"id":"e4425e4c.2b334","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":176,"y":380,"wires":[["86bcc580.63fd48"]]},{"id":"19cc6df6.fccca2","type":"file","z":"9ebe51c6.23088","name":"","filename":"/home/pi/Desktop/logas.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":456,"y":580,"wires":[[]]},{"id":"d8fa684b.0f4ff8","type":"csv","z":"9ebe51c6.23088","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"ID,Date,Time,Temp,Humidity,SM1,SM2,Light","skip":"0","strings":true,"x":386,"y":540,"wires":[[]]},{"id":"2ffb85de.6bc60a","type":"debug","z":"9ebe51c6.23088","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":946,"y":500,"wires":[]},{"id":"d2d1244b.ce9378","type":"http request","z":"9ebe51c6.23088","name":"API Call","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.1.2:4444/calc","tls":"","persist":false,"proxy":"","authType":"","x":596,"y":500,"wires":[["5e86d33d.78065c","56d95594.a962cc"]]},{"id":"9389a4dd.b36e28","type":"csv to json ext","z":"9ebe51c6.23088","name":"","version":"0.1","source":"payload","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":true,"trim":true,"noheader":true,"includeColumns":"","headers":"","debug":false,"x":406,"y":500,"wires":[["d2d1244b.ce9378"]]},{"id":"17b8daae.a93c85","type":"ui_gauge","z":"9ebe51c6.23088","name":"Humidity","group":"dedc9121.2e081","order":1,"width":6,"height":5,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":416,"y":20,"wires":[]},{"id":"a4f3d1d.f1b3a3","type":"ui_gauge","z":"9ebe51c6.23088","name":"Temp","group":"dedc9121.2e081","order":2,"width":6,"height":5,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":406,"y":60,"wires":[]},{"id":"8229e740.39f2f8","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":13,"width":4,"height":2,"name":"Date","label":"Date","format":"{{msg.payload}}","layout":"row-left","x":406,"y":100,"wires":[]},{"id":"7006e1f1.50f8a","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":11,"width":4,"height":2,"name":"Time","label":"Time","format":"{{msg.payload}}","layout":"row-left","x":406,"y":140,"wires":[]},{"id":"4cc4237e.89f54c","type":"ui_gauge","z":"9ebe51c6.23088","name":"SM1","group":"dedc9121.2e081","order":3,"width":6,"height":5,"gtype":"gage","title":"SM1","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":406,"y":180,"wires":[]},{"id":"2135c43c.ccfbbc","type":"ui_gauge","z":"9ebe51c6.23088","name":"SM2","group":"dedc9121.2e081","order":4,"width":6,"height":5,"gtype":"gage","title":"SM2","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":406,"y":220,"wires":[]},{"id":"187c40ec.02a66f","type":"ui_gauge","z":"9ebe51c6.23088","name":"Light","group":"dedc9121.2e081","order":5,"width":6,"height":5,"gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":406,"y":260,"wires":[]},{"id":"86bcc580.63fd48","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":9,"width":4,"height":2,"name":"outTopic","label":"outTopic","format":"{{msg.payload}}","layout":"row-left","x":416,"y":380,"wires":[]},{"id":"2cfeab65.4fc4b4","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":6,"width":4,"height":2,"name":"PinSts","label":"PinSts","format":"{{msg.payload}}","layout":"row-left","x":406,"y":420,"wires":[]},{"id":"ec135e8c.b6b81","type":"ui_text","z":"9ebe51c6.23088","group":"dedc9121.2e081","order":7,"width":4,"height":2,"name":"Pump Sts","label":"Pump Sts","format":"{{msg.payload}}","layout":"row-left","x":936,"y":580,"wires":[]},{"id":"5e86d33d.78065c","type":"function","z":"9ebe51c6.23088","name":"","func":"let x = msg.payload\n\nif (x === 1) {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":766,"y":580,"wires":[["ec135e8c.b6b81"]]},{"id":"c25fd6e1.d1a438","type":"mqtt out","z":"9ebe51c6.23088","name":"","topic":"inTopic","qos":"","retain":"","broker":"a1605748.5eb848","x":936,"y":540,"wires":[]},{"id":"56d95594.a962cc","type":"function","z":"9ebe51c6.23088","name":"","func":"let x = msg.payload\n\nif (x === 1) {\n    msg.payload = 0\n} else {\n    msg.payload = 1\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":766,"y":500,"wires":[["2ffb85de.6bc60a","c25fd6e1.d1a438"]]},{"id":"3857b75a.6aa538","type":"mqtt in","z":"9ebe51c6.23088","name":"","topic":"outTopic/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":606,"y":140,"wires":[["7006e1f1.50f8a"]]}]