nodered Flows/jetson Nano Updated.json
[{"id":"f0134207.8e86f","type":"tab","label":"Main Controller","disabled":false,"info":""},{"id":"d9be3710.475598","type":"tab","label":"Data Logging","disabled":false,"info":""},{"id":"9ced8ac4.6d2328","type":"tab","label":"Webcam","disabled":false,"info":""},{"id":"a1605748.5eb848","type":"mqtt-broker","name":"Server-MQTT","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"1f949175.c41c1f","type":"ui_spacer","name":"spacer","group":"","order":2,"width":3,"height":1},{"id":"a167b65.8341e48","type":"ui_spacer","name":"spacer","group":"","order":3,"width":3,"height":1},{"id":"8c91ef32.998dd","type":"ui_spacer","name":"spacer","group":"","order":5,"width":3,"height":1},{"id":"c898449c.768f08","type":"ui_spacer","name":"spacer","group":"","order":6,"width":3,"height":1},{"id":"fb387b7e.68ad48","type":"ui_spacer","name":"spacer","group":"","order":8,"width":3,"height":1},{"id":"b45c4b10.447db8","type":"ui_spacer","name":"spacer","group":"","order":9,"width":3,"height":1},{"id":"2ad3bacc.448686","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":1,"width":1,"height":1},{"id":"5a0aeb89.b09f14","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":3,"width":2,"height":1},{"id":"4c95c279.4cc0bc","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":5,"width":3,"height":1},{"id":"e3600fec.1afa7","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":6,"width":1,"height":1},{"id":"54be09f7.426938","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":7,"width":2,"height":1},{"id":"469cdbe3.3e6f24","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":8,"width":3,"height":1},{"id":"6c7010fd.3927c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":9,"width":1,"height":1},{"id":"80338d56.3e72b","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":10,"width":2,"height":1},{"id":"9661e8f4.ada4c8","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":11,"width":3,"height":1},{"id":"5828e89d.9ce378","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":12,"width":1,"height":1},{"id":"1d12a9a7.9a8b46","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":13,"width":2,"height":1},{"id":"6f385654.953388","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":14,"width":3,"height":1},{"id":"6ef0083a.46ad78","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":15,"width":30,"height":1},{"id":"17d9802d.0be3f","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":18,"width":1,"height":1},{"id":"9323f5d4.815ea8","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":20,"width":26,"height":1},{"id":"c29cfe8d.0af55","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":21,"width":1,"height":1},{"id":"bf7f8b8d.722678","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":22,"width":15,"height":1},{"id":"125233da.79bbcc","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":24,"width":1,"height":1},{"id":"29c18d0a.af0602","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":26,"width":4,"height":1},{"id":"79a07284.ee02ac","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":28,"width":1,"height":1},{"id":"e266c364.2bc2c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":30,"width":6,"height":1},{"id":"69d5efe4.bc51c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":31,"width":1,"height":1},{"id":"2572035e.5d622c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":32,"width":4,"height":1},{"id":"8bb08b8e.a2d248","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":33,"width":1,"height":1},{"id":"626c0199.fb501","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":34,"width":6,"height":1},{"id":"4b99d4.2e82c62c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":35,"width":1,"height":1},{"id":"f88d3535.5cab98","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":36,"width":2,"height":1},{"id":"3f3be390.bb2a7c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":38,"width":5,"height":1},{"id":"2323fdca.076d42","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":41,"width":5,"height":1},{"id":"6a6a04ed.79bf4c","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":42,"width":1,"height":1},{"id":"b9f6a7e1.c4fe48","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":43,"width":2,"height":1},{"id":"1124ba6.1bf0446","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":44,"width":5,"height":1},{"id":"4f488ff0.09372","type":"ui_spacer","name":"spacer","group":"88468f4b.f0ec9","order":45,"width":16,"height":1},{"id":"a7c41a0b.c42068","type":"ui_tab","name":"Home","icon":"dashboard","order":1,"disabled":false,"hidden":false},{"id":"dedc9121.2e081","type":"ui_group","name":"Home","tab":"a7c41a0b.c42068","order":1,"disp":true,"width":28,"collapse":false},{"id":"22101fc.bb266e","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#097479","edited":false},"page-titlebar-backgroundColor":{"value":"#097479","edited":false},"page-backgroundColor":{"value":"#111111","edited":false},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#0eb8c0","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":false},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#097479","edited":false},"widget-borderColor":{"value":"#333333","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"AIFA System","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"a47969bb.d61188","type":"ui_group","name":"Group 1","tab":"8dce25e7.1af198","order":1,"disp":false,"width":15,"collapse":false},{"id":"bac2119e.01282","type":"ui_group","name":"Group 2","tab":"8dce25e7.1af198","order":2,"disp":true,"width":4},{"id":"40cf43ba.94a47c","type":"ui_group","name":"TimeLaps","tab":"8dce25e7.1af198","order":3,"disp":true,"width":"2","collapse":false},{"id":"8dce25e7.1af198","type":"ui_tab","name":"Webcam","icon":"dashboard","order":3,"disabled":false,"hidden":false},{"id":"d580329f.d74ec","type":"ui_tab","name":"Data","icon":"dashboard","order":2,"disabled":false,"hidden":false},{"id":"5661ca08.76bf74","type":"ui_group","name":"Data","tab":"d580329f.d74ec","order":1,"disp":true,"width":28,"collapse":false},{"id":"96880614.3821a8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":3,"width":12,"height":1},{"id":"52e93bc7.5be614","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":4,"width":1,"height":1},{"id":"1436b7a1.9b99e8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":6,"width":9,"height":1},{"id":"dce4f534.99cf78","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":11,"width":1,"height":1},{"id":"9430b8ba.310c28","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":14,"width":1,"height":1},{"id":"56a88a3d.a31f64","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":17,"width":1,"height":1},{"id":"de4cc839.caeaf8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":20,"width":1,"height":1},{"id":"3eb0f76d.6b3158","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":22,"width":15,"height":1},{"id":"f1a3b222.ce565","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":24,"width":1,"height":1},{"id":"f810e66e.0f7838","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":27,"width":3,"height":1},{"id":"91b49f30.7dea9","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":28,"width":1,"height":1},{"id":"c1803f50.8765b","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":30,"width":6,"height":1},{"id":"7de3e05c.30ec4","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":31,"width":10,"height":1},{"id":"f45eee90.86807","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":32,"width":10,"height":1},{"id":"aa291a47.7e77b8","type":"ui_spacer","name":"spacer","group":"dedc9121.2e081","order":33,"width":15,"height":1},{"id":"2a9f486a.c656e8","type":"ui_spacer","name":"spacer","group":"bac2119e.01282","order":3,"width":1,"height":1},{"id":"5cf99607.eafa68","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":3,"width":1,"height":1},{"id":"72d25f7e.58eba","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":6,"width":2,"height":1},{"id":"a6c65862.33b9a8","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":8,"width":1,"height":1},{"id":"1c630f64.801141","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":9,"width":2,"height":1},{"id":"8b8b4462.d11118","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":10,"width":1,"height":1},{"id":"5365a989.c7ed08","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":11,"width":2,"height":1},{"id":"2a0371e6.b1dd5e","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":12,"width":1,"height":1},{"id":"327ca697.0207da","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":13,"width":2,"height":1},{"id":"d5ee6d9b.4d7f4","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":16,"width":3,"height":1},{"id":"2ce5fd97.c1a4c2","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":18,"width":7,"height":1},{"id":"df8f404d.29ca5","type":"ui_spacer","name":"spacer","group":"5661ca08.76bf74","order":21,"width":3,"height":1},{"id":"1fe69c2b.3101d4","type":"inject","z":"f0134207.8e86f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"1","payloadType":"num","x":110,"y":40,"wires":[["c64bf31b.8a385"]]},{"id":"c64bf31b.8a385","type":"mqtt out","z":"f0134207.8e86f","name":"","topic":"inTopic","qos":"","retain":"","broker":"a1605748.5eb848","x":330,"y":160,"wires":[]},{"id":"cebd3e2e.51beb","type":"inject","z":"f0134207.8e86f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"2","payloadType":"num","x":110,"y":80,"wires":[["c64bf31b.8a385"]]},{"id":"c768e09.f41852","type":"inject","z":"f0134207.8e86f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"3","payloadType":"num","x":110,"y":120,"wires":[["c64bf31b.8a385"]]},{"id":"fe4baa79.02aac8","type":"inject","z":"f0134207.8e86f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"4","payloadType":"num","x":110,"y":160,"wires":[["c64bf31b.8a385"]]},{"id":"fc83401d.7fb75","type":"inject","z":"f0134207.8e86f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"5","payloadType":"num","x":110,"y":200,"wires":[["c64bf31b.8a385"]]},{"id":"4bfe1ac7.e6e8d4","type":"mqtt in","z":"f0134207.8e86f","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":100,"y":340,"wires":[["e1506673.9fb498"]]},{"id":"e1506673.9fb498","type":"debug","z":"f0134207.8e86f","name":"outTopic","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":300,"y":340,"wires":[]},{"id":"a343e214.3853b","type":"mqtt in","z":"f0134207.8e86f","name":"","topic":"outTopic/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":120,"y":400,"wires":[["4e848019.dfc63","e923529a.a64ab"]]},{"id":"4e848019.dfc63","type":"debug","z":"f0134207.8e86f","name":"outTopic/Distance","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":340,"y":400,"wires":[]},{"id":"82c594de.823aa8","type":"inject","z":"f0134207.8e86f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"6","payloadType":"num","x":110,"y":240,"wires":[["c64bf31b.8a385"]]},{"id":"b80f94e8.e5bcb8","type":"inject","z":"f0134207.8e86f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"7","payloadType":"num","x":110,"y":280,"wires":[["c64bf31b.8a385"]]},{"id":"ae32cf11.cc551","type":"ui_text","z":"f0134207.8e86f","group":"dedc9121.2e081","order":2,"width":3,"height":1,"name":"isAlive","label":"Status","format":"{{msg.payload}}","layout":"row-left","x":610,"y":580,"wires":[]},{"id":"c9bbe879.556dd8","type":"function","z":"f0134207.8e86f","name":"Check Alive","func":"let status = msg.payload\n\nif (status === '1') {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":640,"wires":[["f4ed5926.d3ae18"]]},{"id":"f4ed5926.d3ae18","type":"ui_text","z":"f0134207.8e86f","group":"dedc9121.2e081","order":13,"width":3,"height":1,"name":"getDistance","label":"Status:","format":"{{msg.payload}}","layout":"row-left","x":630,"y":640,"wires":[]},{"id":"d2c8afdf.69377","type":"mqtt in","z":"f0134207.8e86f","name":"","topic":"outTopic/Status/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":150,"y":640,"wires":[["c9bbe879.556dd8"]]},{"id":"15e08a68.74fee6","type":"function","z":"f0134207.8e86f","name":"Check Alive","func":"let status = msg.payload\n\nif (status === '1') {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":700,"wires":[["9f47f2b1.40214"]]},{"id":"9f47f2b1.40214","type":"ui_text","z":"f0134207.8e86f","group":"dedc9121.2e081","order":19,"width":3,"height":1,"name":"isAuto","label":"Status:","format":"{{msg.payload}}","layout":"row-left","x":610,"y":700,"wires":[]},{"id":"83f2f013.27a87","type":"mqtt in","z":"f0134207.8e86f","name":"","topic":"outTopic/Status/AutoMovement","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":170,"y":700,"wires":[["15e08a68.74fee6"]]},{"id":"e41d1df1.6c053","type":"function","z":"f0134207.8e86f","name":"Check Alive","func":"let status = msg.payload\n\nif (status === '1') {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":580,"wires":[["ae32cf11.cc551"]]},{"id":"4079aa4f.ec6f14","type":"mqtt in","z":"f0134207.8e86f","name":"","topic":"outTopic/Status/Alive","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":580,"wires":[["e41d1df1.6c053"]]},{"id":"e923529a.a64ab","type":"ui_gauge","z":"f0134207.8e86f","name":"Distance To Object","group":"dedc9121.2e081","order":23,"width":5,"height":4,"gtype":"gage","title":"Distance To Object","label":"CM","format":"{{value}}","min":0,"max":"1100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":340,"y":460,"wires":[]},{"id":"445295da.cc209c","type":"ui_text","z":"f0134207.8e86f","group":"dedc9121.2e081","order":25,"width":3,"height":1,"name":"Collision Bool","label":"Object Detected:","format":"{{msg.payload}}","layout":"row-right","x":640,"y":760,"wires":[]},{"id":"6301b79d.7d4b28","type":"mqtt in","z":"f0134207.8e86f","name":"","topic":"outTopic/Collision/Status","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":150,"y":760,"wires":[["a6db6503.69ce78"]]},{"id":"a6db6503.69ce78","type":"function","z":"f0134207.8e86f","name":"Check Alive","func":"let status = msg.payload\n\nif (status === '1') {\n    msg.payload = 'YES'\n} else {\n    msg.payload = 'NO'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":430,"y":760,"wires":[["445295da.cc209c"]]},{"id":"9b2b38be.47e688","type":"ui_text","z":"f0134207.8e86f","group":"dedc9121.2e081","order":26,"width":3,"height":1,"name":"Collision Distance","label":"At Distance:","format":"{{msg.payload}}","layout":"row-spread","x":650,"y":820,"wires":[]},{"id":"c186064.c42d9f8","type":"mqtt in","z":"f0134207.8e86f","name":"","topic":"outTopic/Collision/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":150,"y":820,"wires":[["9b2b38be.47e688"]]},{"id":"ee106d68.cffb","type":"inject","z":"f0134207.8e86f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"804","payloadType":"num","x":310,"y":240,"wires":[["c64bf31b.8a385"]]},{"id":"e609d6bc.b77ab8","type":"ui_text","z":"f0134207.8e86f","group":"dedc9121.2e081","order":29,"width":3,"height":1,"name":"xBound","label":"X Bound:","format":"{{msg.payload}}","layout":"row-spread","x":620,"y":880,"wires":[]},{"id":"461f3a9c.c6ebb4","type":"mqtt in","z":"f0134207.8e86f","name":"","topic":"outTopic/Bounds/X","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":130,"y":880,"wires":[["e609d6bc.b77ab8","c41212c8.454bd"]]},{"id":"c41212c8.454bd","type":"file","z":"f0134207.8e86f","name":"","filename":"/home/jetbot/Desktop/collisions.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":440,"y":940,"wires":[[]]},{"id":"ae421858.f0a058","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/pinStatus","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":110,"y":400,"wires":[["7945a7f.1e4d458"]]},{"id":"a1fec797.bbf138","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/Humidity","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":100,"y":40,"wires":[["d3f43dec.55414"]]},{"id":"cf814780.abbe28","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/Temp","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":90,"y":80,"wires":[["5d66243f.1705ac"]]},{"id":"26a3be92.916f52","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/Date","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":90,"y":120,"wires":[["98cd562d.2543e8"]]},{"id":"fc3939cd.599f28","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/Time","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":90,"y":160,"wires":[["5cfdbf33.5061e"]]},{"id":"de70913c.bd195","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/SM1","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":90,"y":200,"wires":[["2b3f5fde.f46a3"]]},{"id":"f1747ba6.8a1008","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/SM2","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":90,"y":240,"wires":[["65ea0a24.ebb834"]]},{"id":"c5637dd5.099e6","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/Light","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":90,"y":280,"wires":[["6ff49442.d3d8fc"]]},{"id":"9b59e35f.02a44","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/csvData","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":100,"y":480,"wires":[["ca556e55.bd70b","6e3b71bf.d4774","91a80d22.8f934"]]},{"id":"7bcf1e4c.6f90d","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":80,"y":360,"wires":[["577222bb.82016c"]]},{"id":"ca556e55.bd70b","type":"file","z":"d9be3710.475598","name":"","filename":"/home/jetbot/Desktop/logs.csv","appendNewline":true,"createDir":true,"overwriteFile":"false","encoding":"none","x":370,"y":560,"wires":[[]]},{"id":"6e3b71bf.d4774","type":"csv","z":"d9be3710.475598","name":"","sep":",","hdrin":"","hdrout":"","multi":"one","ret":"\\n","temp":"ID,Date,Time,Temp,Humidity,SM1,SM2,Light","skip":"0","strings":true,"x":290,"y":520,"wires":[[]]},{"id":"b4f02821.87db98","type":"debug","z":"d9be3710.475598","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":850,"y":480,"wires":[]},{"id":"b448b8dd.52cf58","type":"http request","z":"d9be3710.475598","name":"API Call","method":"POST","ret":"obj","paytoqs":false,"url":"http://127.0.1.2:4444/calc","tls":"","persist":false,"proxy":"","authType":"","x":500,"y":480,"wires":[["76e9452f.82b84c","74cce4.0947631c"]]},{"id":"91a80d22.8f934","type":"csv to json ext","z":"d9be3710.475598","name":"","version":"0.1","source":"payload","delimiter":",","quote":"\"","escape":"\"","ignoreEmpty":false,"checkType":true,"trim":true,"noheader":true,"includeColumns":"","headers":"","debug":false,"x":310,"y":480,"wires":[["b448b8dd.52cf58"]]},{"id":"d3f43dec.55414","type":"ui_gauge","z":"d9be3710.475598","name":"Humidity","group":"5661ca08.76bf74","order":1,"width":5,"height":4,"gtype":"gage","title":"Humidity","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":320,"y":40,"wires":[]},{"id":"5d66243f.1705ac","type":"ui_gauge","z":"d9be3710.475598","name":"Temp","group":"5661ca08.76bf74","order":2,"width":5,"height":4,"gtype":"gage","title":"Temp","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":80,"wires":[]},{"id":"98cd562d.2543e8","type":"ui_text","z":"d9be3710.475598","group":"5661ca08.76bf74","order":19,"width":3,"height":1,"name":"Date","label":"Date","format":"{{msg.payload}}","layout":"row-left","x":310,"y":120,"wires":[]},{"id":"5cfdbf33.5061e","type":"ui_text","z":"d9be3710.475598","group":"5661ca08.76bf74","order":20,"width":3,"height":1,"name":"Time","label":"Time","format":"{{msg.payload}}","layout":"row-left","x":310,"y":160,"wires":[]},{"id":"2b3f5fde.f46a3","type":"ui_gauge","z":"d9be3710.475598","name":"SM1","group":"5661ca08.76bf74","order":4,"width":5,"height":4,"gtype":"gage","title":"SM1","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":200,"wires":[]},{"id":"65ea0a24.ebb834","type":"ui_gauge","z":"d9be3710.475598","name":"SM2","group":"5661ca08.76bf74","order":5,"width":5,"height":4,"gtype":"gage","title":"SM2","label":"units","format":"{{value}}","min":0,"max":"1024","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":240,"wires":[]},{"id":"6ff49442.d3d8fc","type":"ui_gauge","z":"d9be3710.475598","name":"Light","group":"5661ca08.76bf74","order":7,"width":5,"height":4,"gtype":"gage","title":"Light","label":"units","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":310,"y":280,"wires":[]},{"id":"577222bb.82016c","type":"ui_text","z":"d9be3710.475598","group":"5661ca08.76bf74","order":17,"width":3,"height":1,"name":"outTopic","label":"outTopic","format":"{{msg.payload}}","layout":"row-left","x":320,"y":360,"wires":[]},{"id":"7945a7f.1e4d458","type":"ui_text","z":"d9be3710.475598","group":"5661ca08.76bf74","order":14,"width":3,"height":1,"name":"PinSts","label":"PinSts","format":"{{msg.payload}}","layout":"row-left","x":310,"y":400,"wires":[]},{"id":"e601bf6d.e9ddf","type":"ui_text","z":"d9be3710.475598","group":"5661ca08.76bf74","order":15,"width":3,"height":1,"name":"Pump Sts","label":"Pump Sts","format":"{{msg.payload}}","layout":"row-left","x":840,"y":560,"wires":[]},{"id":"76e9452f.82b84c","type":"function","z":"d9be3710.475598","name":"","func":"let x = msg.payload\n\nif (x === 1) {\n    msg.payload = 'ON'\n} else {\n    msg.payload = 'OFF'\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":560,"wires":[["e601bf6d.e9ddf"]]},{"id":"7196f30.dca090c","type":"mqtt out","z":"d9be3710.475598","name":"","topic":"inTopic","qos":"","retain":"","broker":"a1605748.5eb848","x":840,"y":520,"wires":[]},{"id":"74cce4.0947631c","type":"function","z":"d9be3710.475598","name":"","func":"let x = msg.payload\n\nif (x === 1) {\n    msg.payload = 0\n} else {\n    msg.payload = 1\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":670,"y":480,"wires":[["b4f02821.87db98","7196f30.dca090c"]]},{"id":"3fdaa472.2e2d6c","type":"mqtt in","z":"d9be3710.475598","name":"","topic":"outTopic/Distance","qos":"2","datatype":"auto","broker":"a1605748.5eb848","x":510,"y":160,"wires":[["5cfdbf33.5061e"]]},{"id":"61f2dcd7.136e34","type":"inject","z":"9ced8ac4.6d2328","name":"Only Start","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":126,"y":81,"wires":[["db136bf4.807a18"]]},{"id":"1d3596dc.c36c19","type":"http request","z":"9ced8ac4.6d2328","name":"Capture immagine ","method":"GET","ret":"bin","paytoqs":"ignore","url":"http://192.168.0.111","tls":"","persist":false,"proxy":"","authType":"basic","x":294,"y":206,"wires":[["17ac17e3.b61118"]],"icon":"font-awesome/fa-video-camera"},{"id":"21a4bcbb.a5ece4","type":"file","z":"9ced8ac4.6d2328","name":"Salva immagine catturata","filename":"","appendNewline":false,"createDir":false,"overwriteFile":"true","encoding":"none","x":939,"y":233,"wires":[["cdf72e46.97774"]]},{"id":"da6b73ce.1a246","type":"comment","z":"9ced8ac4.6d2328","name":"Visualizza lo Streming della Webcam","info":"","x":151,"y":540,"wires":[]},{"id":"c5f87a7c.a99938","type":"comment","z":"9ced8ac4.6d2328","name":"Cattura un immagine e la salva sul computer","info":"","x":217,"y":169,"wires":[]},{"id":"2b3d946a.31e6ac","type":"function","z":"9ced8ac4.6d2328","name":"Impostazione dir + nome immagine","func":"// Prepara il MSG per creare il nome del file dell'immagine da salvare\n// impostando la dir e un nome univoco  usando il 'timestamp'\n// passato con msg.stamp\nmsg={payload:msg.payload,filename:\"C:\\\\Users\\\\Batigolle\\\\.node-red\\\\pubblic\\\\webcam\\\\\"+ msg.stamp+\".jpg\",stamp:msg.stamp};\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":606,"y":253,"wires":[["21a4bcbb.a5ece4","b94af00a.b816c"]]},{"id":"cdf72e46.97774","type":"debug","z":"9ced8ac4.6d2328","name":"nome file","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":896,"y":305,"wires":[]},{"id":"17ac17e3.b61118","type":"change","z":"9ced8ac4.6d2328","name":"SET Timestamp","rules":[{"t":"set","p":"stamp","pt":"msg","to":"","tot":"date"}],"action":"","property":"","from":"","to":"","reg":false,"x":492,"y":206,"wires":[["2b3d946a.31e6ac"]]},{"id":"af6d1cea.bd23a","type":"ui_button","z":"9ced8ac4.6d2328","name":"","group":"bac2119e.01282","order":2,"width":3,"height":1,"passthru":false,"label":"Take Picture","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":85,"y":208,"wires":[["1d3596dc.c36c19"]]},{"id":"d302f2d7.b4483","type":"comment","z":"9ced8ac4.6d2328","name":"Latest image","info":"This template node has the HTML code to display\nthe latest image from the motion program.\n","x":837,"y":142,"wires":[]},{"id":"6f70ec26.cf0744","type":"ui_template","z":"9ced8ac4.6d2328","group":"a47969bb.d61188","name":"Last Image","order":2,"width":15,"height":7,"format":"<!--<img name=\"main\" id=\"main\" border=\"0\" width=\"480\" height=\"460\" src=\"../webcam/{{msg.stamp}}.jpg\"> -->\n<img   src=\"../webcam/{{msg.stamp}}.jpg\"  width=\"350px\">\n<br>\nLAST IMAGE <h3>\n   <i class=\"fa fa-download\" aria-hidden=\"true\"></i>\n   <a href=\"../gif/{{ msg.payload }}.gif\" download=\"time-shift.gif\">Download This GIF </a>|\n   <i class=\"fa fa-refresh\" aria-hidden=\"true\"></i>\n   <a href=\"../ui\"> Reload Page</a>\n      \n</h3>","storeOutMessages":true,"fwdInMessages":true,"templateScope":"local","x":849,"y":181,"wires":[["dd2fa216.4e7a7"]]},{"id":"b94af00a.b816c","type":"delay","z":"9ced8ac4.6d2328","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":700,"y":182,"wires":[["6f70ec26.cf0744"]]},{"id":"dd2fa216.4e7a7","type":"debug","z":"9ced8ac4.6d2328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":993,"y":180,"wires":[]},{"id":"95ee77e3.804178","type":"ui_button","z":"9ced8ac4.6d2328","name":"","group":"bac2119e.01282","order":1,"width":4,"height":1,"passthru":false,"label":"Make GIF now","tooltip":"","color":"","bgcolor":"","icon":"","payload":"","payloadType":"str","topic":"","x":352,"y":616,"wires":[["16349cb2.37bc73"]]},{"id":"80aa9191.5615b","type":"configurable interval","z":"9ced8ac4.6d2328","name":"configurable interval","interval":"3","onstart":false,"do_enable":false,"msg":"capture photo","showstatus":true,"unit":"seconds","statusformat":"YYYY-MM-D HH:mm:ss","x":592,"y":358,"wires":[["aa6e757e.aac498","1d3596dc.c36c19"]]},{"id":"aa6e757e.aac498","type":"debug","z":"9ced8ac4.6d2328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":907,"y":353,"wires":[]},{"id":"b5d6ef3e.6e664","type":"change","z":"9ced8ac4.6d2328","name":"SetFlowInitial","rules":[{"t":"set","p":"dbgtimer","pt":"flow","to":"payload","tot":"msg"},{"t":"set","p":"payload","pt":"msg","to":"enabled","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":315,"y":871,"wires":[[]]},{"id":"96f6a313.0576a","type":"change","z":"9ced8ac4.6d2328","name":"_18s","rules":[{"t":"set","p":"payload","pt":"msg","to":"interval","tot":"str"},{"t":"set","p":"interval_value","pt":"msg","to":"18","tot":"str"},{"t":"set","p":"interval_unit","pt":"msg","to":"seconds","tot":"str"},{"t":"set","p":"interval_activeInstantly","pt":"msg","to":"false","tot":"bool"},{"t":"set","p":"interval_fireInstantly","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":642,"y":876,"wires":[[]]},{"id":"e631c78a.3d0258","type":"change","z":"9ced8ac4.6d2328","name":"override_1.2s_insta","rules":[{"t":"set","p":"payload","pt":"msg","to":"interval","tot":"str"},{"t":"set","p":"interval_value","pt":"msg","to":"1150","tot":"str"},{"t":"set","p":"interval_unit","pt":"msg","to":"ms","tot":"str"},{"t":"set","p":"interval_activeInstantly","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"interval_fireInstantly","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":119,"y":874,"wires":[[]]},{"id":"62eff824.ee59c8","type":"change","z":"9ced8ac4.6d2328","name":"FIRE_set_3s","rules":[{"t":"set","p":"payload","pt":"msg","to":"interval","tot":"str"},{"t":"set","p":"interval_value","pt":"msg","to":"3","tot":"str"},{"t":"set","p":"interval_unit","pt":"msg","to":"s","tot":"str"},{"t":"set","p":"interval_activeInstantly","pt":"msg","to":"true","tot":"bool"},{"t":"set","p":"interval_fireInstantly","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":489,"y":869,"wires":[[]]},{"id":"ae6f0a55.b48008","type":"comment","z":"9ced8ac4.6d2328","name":"esempi settaggio nodo \"configurable interval\"","info":"","x":186,"y":833,"wires":[]},{"id":"8dc66083.0022d","type":"ui_template","z":"9ced8ac4.6d2328","group":"40cf43ba.94a47c","name":"START / STOP TL","order":1,"width":2,"height":1,"format":"<md-button \n    ng-style=\"{background: msg.payload == 'enabled' ? 'green' : 'red' }\" \n    ng-click=\"msg.payload = (msg.payload == 'enabled' ? 'disabled' : 'enabled'); send(msg);\" \n> \n    {{msg.payload == 'disabled' ? 'TL STOP' : 'RUNNING'}}\n</md-button> ","storeOutMessages":true,"fwdInMessages":false,"templateScope":"local","x":138,"y":358,"wires":[["2b5c0d27.023f32"]]},{"id":"358cfc2d.158114","type":"debug","z":"9ced8ac4.6d2328","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":557,"y":429,"wires":[]},{"id":"2b5c0d27.023f32","type":"function","z":"9ced8ac4.6d2328","name":"Config Interval","func":"if ( msg.payload==\"enabled\" )\n{   // prima attivo il nodo \n    node.send({payload:\"enabled\"});    \n    // e poi gli passo i valori in modalità interval\n    node.send({payload:\"interval\",interval_value:context.global.get('TL_Int'),\n                        interval_unit:context.global.get('TL_Unit'),\n                        interval_activeInstantly:\"true\"  });    \n }\nelse\n{\n    node.send({payload:\"disabled\"});\n   \n}\nreturn null;","outputs":1,"noerr":0,"x":362,"y":358,"wires":[["80aa9191.5615b","358cfc2d.158114"]]},{"id":"b7412f53.6c614","type":"ui_text_input","z":"9ced8ac4.6d2328","name":"Intervallo","label":"Intervallo","tooltip":"","group":"40cf43ba.94a47c","order":2,"width":2,"height":1,"passthru":true,"mode":"text","delay":300,"topic":"","x":519,"y":59,"wires":[["8f662570.22f988"]]},{"id":"c292c0bd.5cc71","type":"ui_dropdown","z":"9ced8ac4.6d2328","name":"","label":"","tooltip":"","place":"Select option","group":"40cf43ba.94a47c","order":3,"width":2,"height":1,"passthru":true,"options":[{"label":"secondi","value":"s","type":"str"},{"label":"minuti","value":"m","type":"str"}],"payload":"","topic":"","x":519,"y":97,"wires":[["9da4a994.05f578"]]},{"id":"e3ac7d2d.1ba3b","type":"comment","z":"9ced8ac4.6d2328","name":"Setup variabili globali all'avvio","info":"","x":151,"y":35,"wires":[]},{"id":"db136bf4.807a18","type":"function","z":"9ced8ac4.6d2328","name":"Setup variabili G.","func":"// intervallo capture default 60\ncontext.global.set('TL_Int',\"60\");\nvar msg1={payload:\"60\"};\n\n// Tempo intervallo secondi / minuti\ncontext.global.set('TL_Unit',\"s\");\nvar msg2={payload:\"s\"};\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"x":315,"y":81,"wires":[["b7412f53.6c614"],["c292c0bd.5cc71"]]},{"id":"8f662570.22f988","type":"function","z":"9ced8ac4.6d2328","name":"Salva valore interval","func":"context.global.set('TL_Int',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":713,"y":59,"wires":[[]]},{"id":"9da4a994.05f578","type":"function","z":"9ced8ac4.6d2328","name":"Salva valore Unit Interval","func":"context.global.set('TL_Unit',msg.payload);\nreturn msg;","outputs":1,"noerr":0,"x":723,"y":97,"wires":[[]]},{"id":"76189cca.3e1a44","type":"inject","z":"9ced8ac4.6d2328","name":"","repeat":"","crontab":"","once":true,"onceDelay":0.1,"topic":"","payload":"disabled","payloadType":"str","x":123,"y":408,"wires":[["8dc66083.0022d"]]},{"id":"6c90610e.ebb2c","type":"comment","z":"9ced8ac4.6d2328","name":"Salva variabili modificate","info":"","x":724,"y":25,"wires":[]},{"id":"22022271.f3a3ae","type":"comment","z":"9ced8ac4.6d2328","name":"Creare video da TimeLaps","info":"","x":119,"y":618,"wires":[]},{"id":"16349cb2.37bc73","type":"exec","z":"9ced8ac4.6d2328","command":"/home/pi/.node-red/make-gif.bat","addpay":false,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"Make gif","x":566,"y":617,"wires":[[],[],[]]},{"id":"8ea8e29e.560f4","type":"ui_template","z":"9ced8ac4.6d2328","group":"a47969bb.d61188","name":"WEBCAM","order":1,"width":15,"height":9,"format":"<div style=\"margin-bottom: 10px;\">\n<!--<img src=\"http://192.168.1.61/capture\" width=\"650px\"> -->\n<img src=\"http://192.168.0.111\" width=\"640px\" height=\"480px\">\n</div>\nSTREAMING","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":380,"y":540,"wires":[[]],"icon":"font-awesome/fa-video-camera"},{"id":"e2738791.e75eb8","type":"ui_button","z":"f0134207.8e86f","name":"","group":"dedc9121.2e081","order":5,"width":1,"height":1,"passthru":false,"label":"UP","tooltip":"","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","topicType":"str","x":230,"y":1020,"wires":[["b15b8439.ab3cc8"]]},{"id":"7a1a60eb.78adf","type":"ui_button","z":"f0134207.8e86f","name":"","group":"dedc9121.2e081","order":9,"width":1,"height":1,"passthru":false,"label":"DOWN","tooltip":"","color":"","bgcolor":"","icon":"","payload":"2","payloadType":"num","topic":"","x":230,"y":1060,"wires":[["b15b8439.ab3cc8"]]},{"id":"96ba3e1e.10705","type":"ui_button","z":"f0134207.8e86f","name":"","group":"dedc9121.2e081","order":10,"width":1,"height":1,"passthru":false,"label":"RIGHT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"3","payloadType":"num","topic":"","x":360,"y":1060,"wires":[["b15b8439.ab3cc8"]]},{"id":"a29abe9c.d2917","type":"ui_button","z":"f0134207.8e86f","name":"","group":"dedc9121.2e081","order":8,"width":1,"height":1,"passthru":false,"label":"LEFT","tooltip":"","color":"","bgcolor":"","icon":"","payload":"4","payloadType":"num","topic":"","topicType":"str","x":100,"y":1060,"wires":[["b15b8439.ab3cc8"]]},{"id":"f6f2077.90066f8","type":"ui_button","z":"f0134207.8e86f","name":"","group":"dedc9121.2e081","order":16,"width":3,"height":1,"passthru":false,"label":"BRAKE","tooltip":"","color":"","bgcolor":"","icon":"","payload":"5","payloadType":"str","topic":"","x":230,"y":1100,"wires":[["b15b8439.ab3cc8"]]},{"id":"b15b8439.ab3cc8","type":"mqtt out","z":"f0134207.8e86f","name":"","topic":"inTopic","qos":"","retain":"","broker":"a1605748.5eb848","x":500,"y":1000,"wires":[]},{"id":"ed4a362.b1db8c8","type":"ui_template","z":"f0134207.8e86f","group":"dedc9121.2e081","name":"WEBCAM","order":1,"width":13,"height":10,"format":"<div style=\"margin-bottom: 10px;\">\n<!--<img src=\"http://192.168.1.61/capture\" width=\"650px\"> -->\n<img src=\"http://192.168.0.111\" width=\"640px\" height=\"480px\">\n</div>\nSTREAMING","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":false,"templateScope":"local","x":420,"y":40,"wires":[[]],"icon":"font-awesome/fa-video-camera"},{"id":"4c209fe8.13ae5","type":"mqtt out","z":"f0134207.8e86f","name":"","topic":"servoDown","qos":"2","retain":"","broker":"a1605748.5eb848","x":470,"y":1280,"wires":[]},{"id":"9898a97.f1a5658","type":"mqtt out","z":"f0134207.8e86f","name":"","topic":"servoUp","qos":"2","retain":"","broker":"a1605748.5eb848","x":460,"y":1340,"wires":[]},{"id":"d5961f20.a8bae","type":"ui_slider","z":"f0134207.8e86f","name":"","label":"servoDistance","tooltip":"","group":"dedc9121.2e081","order":7,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"180","step":1,"x":300,"y":1400,"wires":[["9491a491.882c88"]]},{"id":"9491a491.882c88","type":"mqtt out","z":"f0134207.8e86f","name":"","topic":"servoDistance","qos":"","retain":"","broker":"a1605748.5eb848","x":480,"y":1400,"wires":[]},{"id":"bfa31dfd.896ab","type":"ui_slider","z":"f0134207.8e86f","name":"","label":"servoUp","tooltip":"","group":"dedc9121.2e081","order":21,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":"10","max":"180","step":1,"x":280,"y":1340,"wires":[["9898a97.f1a5658"]]},{"id":"3f116029.08888","type":"ui_slider","z":"f0134207.8e86f","name":"","label":"servoDown","tooltip":"","group":"dedc9121.2e081","order":15,"width":4,"height":1,"passthru":true,"outs":"end","topic":"","min":"0","max":"180","step":1,"x":290,"y":1280,"wires":[["4c209fe8.13ae5"]]},{"id":"356abb6c.7ba314","type":"ui_button","z":"f0134207.8e86f","name":"","group":"dedc9121.2e081","order":12,"width":3,"height":1,"passthru":false,"label":"Distance Toggle","tooltip":"","color":"","bgcolor":"","icon":"","payload":"6","payloadType":"num","topic":"","x":340,"y":1160,"wires":[["b15b8439.ab3cc8"]]},{"id":"e065dfd4.5b9d6","type":"ui_button","z":"f0134207.8e86f","name":"","group":"dedc9121.2e081","order":18,"width":3,"height":1,"passthru":false,"label":"Auto Movement","tooltip":"","color":"","bgcolor":"","icon":"","payload":"7","payloadType":"str","topic":"","x":340,"y":1200,"wires":[["b15b8439.ab3cc8"]]},{"id":"8da772b1.c351f","type":"inject","z":"f0134207.8e86f","name":"","repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"90","payloadType":"num","x":110,"y":1300,"wires":[["4c209fe8.13ae5","9898a97.f1a5658","9491a491.882c88"]]}]